.display-container {
  padding: 20px;
  background-color: #f8f9fa;
}

.select-box,
.form-select {
  width: 100%;
}

h1 {
  font-weight: 600;
  color: #333;
}

label {
  font-weight: 500;
}

table td.highlight-col,
table th.highlight-col {
  background-color: #fff3cd;
  font-weight: bold;
}

.navbar-scroll .navbar-brand {
  color: #fff;
}

/* Color of the links AFTER scroll */
.navbar-scrolled .navbar-brand {
  color: #4f4f4f;
}

/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #f3eeee;
}
